<p class="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<p>
  <b>Details:</b>
  <%= @order.details %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
