= simple_form_for @order_simulation do |order_simulation_form|
  = order_simulation_form.simple_fields_for :partnerships do |partnership_form|
    = partnership_form.simple_fields_for :supplier do |supplier_form|
      = supplier_form.input :name
      = supplier_form.simple_fields_for :mobile_numbers do |mobile_number_form|
        = mobile_number_form.input :number
  = order_simulation_form.button :submit

