%h1 Sign up for free through Paypal
= image_tag("paypal_logo.png")
= simple_form_for @seller, :url => user_paypal_authentications_path do |seller_form|
  = seller_form.simple_fields_for :mobile_numbers do |mobile_number_form|
    = mobile_number_form.input :number
  = seller_form.button :submit, "Sign Up"

