%h1 Suppliers
- unless @suppliers.empty?
  %table
    %tr
      %th
      %th

    - @suppliers.each do |supplier|
      %tr
        %td
          = supplier.name
        %td
          = supplier.active_mobile_number.humanize
        %td
          - if partnership = current_user.supplier_partnership_with(supplier)
            - if partnership.unconfirmed?
              = t("activerecord.states.partnership.unconfirmed")
          - else
            = link_to t("activerecord.actions.partnership.create"),
              partnerships_path(:supplier_id => supplier), :method => :post
%p
  = link_to "New Supplier", new_supplier_path

